examples/ai-agent-simple-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "b24b05a7-d802-4413-bfb1-23e1e76f6203",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        180,
        260
      ],
      "webhookId": "a889d2ae-2159-402f-b326-5f61e90f602e"
    },
    {
      "parameters": {
        "content": "## Start by saying 'hi'\n![Button](https://i.imgur.com/PrIBJI6.png)",
        "height": 149,
        "width": 150
      },
      "id": "5592c045-6718-4c4e-9961-ce67a251b6df",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        340
      ]
    },
    {
      "parameters": {
        "userId": "={{ $fromAI('user_id', ``, 'number') }}",
        "count": 5,
        "scenario": "TopItems"
      },
      "type": "n8n-nodes-recombee-api.recombeeRecommendItemsToUserTool",
      "typeVersion": 1,
      "position": [
        740,
        500
      ],
      "id": "c8dd56b9-2ea3-4196-8161-e18c6d888ef5",
      "name": "Recommend Items To User",
      "credentials": {
        "recombeeCredentialsApi": {
          "id": "uwt2vEgv7kpAoUh0",
          "name": "Recombee Credentials account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistralai/devstral-small",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        400,
        480
      ],
      "id": "74085ec8-72b3-4406-972b-8f0ff5f60bc0",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "XbGIOTbiS0nP70TR",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        520,
        480
      ],
      "id": "292e5aaf-c2fc-4dbc-85a9-f93a800a67cb",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=Act as a master product recommender. You must strictly use the tools provided to you — specifically, the Recommbee “Recommend Items to User” tool — to fetch recommendations using the provided user ID. Do not generate or invent any product recommendations yourself. Once you retrieve the data,  strictly return a valid JSON array, with no extra text, so the output can be directly consumed by downstream n8n workflows.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        492,
        260
      ],
      "id": "0096c59e-8070-4c6d-9ee5-4d041581d826",
      "name": "AI Agent",
      "notesInFlow": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const jsonString = $input.first().json.output.replaceAll(\"`\" , \"\").replace(\"json\", \"\")\nconst items = JSON.parse(\n  jsonString\n)\nconst result = [];\n// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of items) {\n  result.push({\n    ...item\n  })\n}\n\nreturn result;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        260
      ],
      "id": "39fe5f14-0ca1-4fb6-8247-9b7bcb9084c9",
      "name": "Parse JSON"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recommend Items To User": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateId": "self-building-ai-agent",
    "templateCredsSetupCompleted": true,
    "instanceId": "5b5d61a6d2248e5c1aa8687d1b94378c2830978da697c47b6e4ca4180eaaa6ef"
  }
}
