examples/item-sync-workflow.json
{
	"nodes": [
		{
			"parameters": {},
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [-440, -10],
			"id": "0937013f-5a49-4a00-af43-635bca2e92a4",
			"name": "When clicking ‘Execute workflow’"
		},
		{
			"parameters": {
				"url": "https://dummyjson.com/products",
				"sendQuery": true,
				"queryParameters": {
					"parameters": [
						{
							"name": "limit",
							"value": "500"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [-220, -10],
			"id": "8fbdb41b-463d-4eba-bf8c-093d7b08a717",
			"name": "HTTP Request"
		},
		{
			"parameters": {
				"batchSize": "=50",
				"options": {
					"reset": false
				}
			},
			"type": "n8n-nodes-base.splitInBatches",
			"typeVersion": 3,
			"position": [220, -10],
			"id": "9d226ceb-f11f-414c-8e45-bab35bd1e880",
			"name": "Loop Over Items"
		},
		{
			"parameters": {
				"jsCode": "return $input.first().json.products ;"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [0, -10],
			"id": "2e21fff1-a5a9-4036-b172-cbd5d2d5d85c",
			"name": "Code"
		},
		{
			"parameters": {
				"content": "## Product Properties \nyou need to prepare your product properties at recombee admin to match your user object &  **pay an  extra eye** to it  ",
				"color": 6
			},
			"type": "n8n-nodes-base.stickyNote",
			"typeVersion": 1,
			"position": [340, -200],
			"id": "903bcad6-84e7-48a0-87e1-e5348a5a6a7b",
			"name": "Sticky Note"
		},
		{
			"parameters": {
				"content": "##  Step 2 : Sync your Products ",
				"height": 100,
				"width": 380,
				"color": 3
			},
			"type": "n8n-nodes-base.stickyNote",
			"position": [-420, -140],
			"typeVersion": 1,
			"id": "f0137ff3-5325-4768-9705-8115e72a876b",
			"name": "Sticky Note1"
		},
		{
			"parameters": {
				"itemId": "={{ $json.id }}",
				"values": "={\n \"title\": {{ $json.title.toJsonString() }},\n \"description\": {{ $json.description.toJsonString() }},\n \"category\": {{ $json.category.toJsonString() }},\n \"price\": {{ $json.price.toString().toJsonString() }},\n \"discountPercentage\": {{ $json.discountPercentage.toString().toJsonString() }},\n \"rating\": {{ $json.rating.toString().toJsonString() }},\n \"tags\": [ {{ $json.tags.map(item => item.toString().toJsonString()) }}],\n \"brand\" : {{ $json.brand?.toJsonString() ?? '?'.toJsonString() }},\n \"weight\" : {{ $json.weight?.toString().toJsonString() }},\n \"inStock\" : {{ $json.availabilityStatus.toJsonString() }},\n \"returnPolicy\": {{ $json.returnPolicy.toJsonString() }},\n \"image\" : {{ $json.images[0].toJsonString() }},\n \"images\": [ {{ $json.images.map(item => item.toString().toJsonString()) }}],\n \"thumbnail\" : {{ $json.thumbnail.toJsonString() }}\n }",
				"cascadeCreate": true
			},
			"type": "n8n-nodes-recombee-api.recombeeSetItemValues",
			"typeVersion": 1,
			"position": [440, 80],
			"id": "e200e691-269f-47d5-8546-9211547b398c",
			"name": "SetItemValues",
			"credentials": {
				"recombeeCredentialsApi": {
					"id": "uwt2vEgv7kpAoUh0",
					"name": "Recombee Credentials account"
				}
			},
			"onError": "continueErrorOutput"
		},
		{
			"parameters": {},
			"type": "n8n-nodes-base.debugHelper",
			"typeVersion": 1,
			"position": [660, -10],
			"id": "2bd9dd05-94d2-47cd-9e3a-4a54cfb301ff",
			"name": "DebugHelper"
		}
	],
	"connections": {
		"When clicking ‘Execute workflow’": {
			"main": [
				[
					{
						"node": "HTTP Request",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"HTTP Request": {
			"main": [
				[
					{
						"node": "Code",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Loop Over Items": {
			"main": [
				[],
				[
					{
						"node": "SetItemValues",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Code": {
			"main": [
				[
					{
						"node": "Loop Over Items",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"SetItemValues": {
			"main": [
				[
					{
						"node": "Loop Over Items",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "DebugHelper",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {},
	"meta": {
		"templateCredsSetupCompleted": true,
		"instanceId": "5b5d61a6d2248e5c1aa8687d1b94378c2830978da697c47b6e4ca4180eaaa6ef"
	}
}
