examples/user-sync-workflow.json
{
	"nodes": [
		{
			"parameters": {},
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [-440, -85],
			"id": "08b5dc7e-3e9b-49ab-89a1-8125c904ecb4",
			"name": "When clicking ‘Execute workflow’"
		},
		{
			"parameters": {
				"url": "https://dummyjson.com/users",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.2,
			"position": [-220, -85],
			"id": "5412d5a0-d701-4e71-9b12-ca4a13ea64f6",
			"name": "HTTP Request"
		},
		{
			"parameters": {
				"batchSize": "=15",
				"options": {
					"reset": false
				}
			},
			"type": "n8n-nodes-base.splitInBatches",
			"typeVersion": 3,
			"position": [220, -85],
			"id": "f1c44bd2-9e69-48c1-a380-ecb0414aa17a",
			"name": "Loop Over Items"
		},
		{
			"parameters": {
				"jsCode": "return $input.first().json.users ;"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [0, -85],
			"id": "f19d6604-6257-4fca-8828-528f6264cb1c",
			"name": "Code"
		},
		{
			"parameters": {
				"content": "## User Properties \nyou need to prepare use properties at recombee admin to match your user object &  **pay an  extra eye** to it  ",
				"color": 6
			},
			"type": "n8n-nodes-base.stickyNote",
			"typeVersion": 1,
			"position": [480, -100],
			"id": "1129fbc0-0db2-487b-9d99-511220db9627",
			"name": "Sticky Note"
		},
		{
			"parameters": {
				"userId": "={{ $json.userId }}",
				"values": "={\n  \"first_name\": {{ $('Loop Over Items').item.json.firstName.toJsonString() }},\n  \"last_name\": {{ $('Loop Over Items').item.json.lastName.toJsonString() }},\n  \"age\": {{ $('Loop Over Items').item.json.age }},\n  \"gender\": {{ $('Loop Over Items').item.json.gender.toJsonString() }},\n  \"email\": {{ $('Loop Over Items').item.json.email.toJsonString() }},\n  \"phone\": {{ $('Loop Over Items').item.json.phone.toJsonString() }},\n  \"username\": {{ $('Loop Over Items').item.json.username.toJsonString() }},\n  \"birthday\": {{ $('Loop Over Items').item.json.birthDate.toJsonString() }},\n  \"image\": {{ $('Loop Over Items').item.json.image.toJsonString() }},\n  \"hair_color\":  {{ $('Loop Over Items').item.json.hair.color.toJsonString() }},\n  \"hair_type\": {{ $('Loop Over Items').item.json.hair.type.toJsonString() }}\n}"
			},
			"type": "n8n-nodes-recombee-api.recombeeSetUserValues",
			"typeVersion": 1,
			"position": [680, 160],
			"id": "d4efa1a7-845d-492e-bf25-a5c856c004cf",
			"name": "SetUserValues",
			"credentials": {
				"recombeeCredentialsApi": {
					"id": "uwt2vEgv7kpAoUh0",
					"name": "Recombee Credentials account"
				}
			}
		},
		{
			"parameters": {
				"userId": "={{ $json.id }}"
			},
			"type": "n8n-nodes-recombee-api.recombeeAddUser",
			"typeVersion": 1,
			"position": [400, 80],
			"id": "e859e968-4eeb-4a4a-ae5e-f825d3362b12",
			"name": "AddUser",
			"credentials": {
				"recombeeCredentialsApi": {
					"id": "uwt2vEgv7kpAoUh0",
					"name": "Recombee Credentials account"
				}
			}
		},
		{
			"parameters": {
				"content": "##  Step 1 : Sync your users ",
				"height": 100,
				"width": 380,
				"color": 3
			},
			"type": "n8n-nodes-base.stickyNote",
			"position": [-420, -240],
			"typeVersion": 1,
			"id": "5739a712-bc53-483d-9d6b-9900603d70c1",
			"name": "Sticky Note1"
		}
	],
	"connections": {
		"When clicking ‘Execute workflow’": {
			"main": [
				[
					{
						"node": "HTTP Request",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"HTTP Request": {
			"main": [
				[
					{
						"node": "Code",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Loop Over Items": {
			"main": [
				[],
				[
					{
						"node": "AddUser",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Code": {
			"main": [
				[
					{
						"node": "Loop Over Items",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"SetUserValues": {
			"main": [
				[
					{
						"node": "Loop Over Items",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"AddUser": {
			"main": [
				[
					{
						"node": "SetUserValues",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {},
	"meta": {
		"templateCredsSetupCompleted": true,
		"instanceId": "5b5d61a6d2248e5c1aa8687d1b94378c2830978da697c47b6e4ca4180eaaa6ef"
	}
}
